@font-face {
  font-family: 'unicon';
  src: url('../../assets/fonts/icons/icomoon.eot?qf265n');
  src: url('../../assets/fonts/icons/icomoon.eot?qf265n#iefix') format('embedded-opentype'), url('../../assets/fonts/icons/icomoon.ttf?qf265n') format('truetype'), url('../../assets/fonts/icons/icomoon.woff?qf265n') format('woff'), url('../../assets/fonts/icons/icomoon.svg?qf265n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?qf265n');
  src: url('../../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?qf265n#iefix') format('embedded-opentype'), url('../../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf?qf265n') format('truetype'), url('../../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff?qf265n') format('woff'), url('../../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.svg?qf265n#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans-Regular';
  src: url('../../assets/fonts/FiraSans-Regular/FiraSans-Regular.eot?qf265n');
  src: url('../../assets/fonts/FiraSans-Regular/FiraSans-Regular.eot?qf265n#iefix') format('embedded-opentype'), url('../../assets/fonts/FiraSans-Regular/FiraSans-Regular.ttf?qf265n') format('truetype'), url('../../assets/fonts/FiraSans-Regular/FiraSans-Regular.woff?qf265n') format('woff'), url('../../assets/fonts/FiraSans-Regular/FiraSans-Regular.svg?qf265n#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.unicon {
  font-family: 'unicon';
}
.unicon-star:before {
  content: "\e912";
}
.unicon-system:before {
  content: "\e911";
}
.unicon-articles:before {
  content: "\e90b";
}
.unicon-forum:before {
  content: "\e90d";
}
.unicon-support:before {
  content: "\e910";
}
.unicon-support-dit:before {
  content: "\e90f";
}
.unicon-support-caret:before {
  content: "\e90a";
}
.unicon-search:before {
  content: "\e929";
}
.unicon-close:before {
  content: "\e914";
}
.unicon-rating:before {
  content: "\e92a";
}
.unicon-rating.active:before {
  content: "\e92b";
}
.unicon-rating-1.active:before {
  content: "\e920";
}
.unicon-rating-1:before {
  content: "\e925";
}
.unicon-rating-2.active:before {
  content: "\e921";
}
.unicon-rating-2:before {
  content: "\e926";
}
.unicon-rating-3.active:before {
  content: "\e922";
}
.unicon-rating-3:before {
  content: "\e927";
}
.unicon-rating-4.active:before {
  content: "\e923";
}
.unicon-rating-4:before {
  content: "\e928";
}
.unicon-rating-5.active:before {
  content: "\e924";
}
.unicon-rating-5:before {
  content: "\e917";
}
.unicon-question:before {
  content: "\e902";
}
.unicon-message:before {
  content: "\e901";
}
.unicon-call:before {
  content: "\e900";
}
.unicon-callback:before {
  content: "\e916";
}
.unicon-check:before {
  content: "\e915";
}
.unicon-calendar:before {
  content: "\e91e";
}
.unicon-arrow-right:before {
  content: "\e90a";
}
.caret {
  border: 0;
  font-family: 'unicon';
}
.caret:before {
  content: "\e90a";
}
/* general */
body {
  font-family: 'ProximaNova-Regular';
  background: #f2f2f2;
}
img {
  max-width: 100%;
}
a {
  transition: all 0.3s  ;
  -o-transition: all 0.3s  ;
  -ms-transition: all 0.3s  ;
  -moz-transition: all 0.3s  ;
  -webkit-transition: all 0.3s  ;
  text-decoration: underline;
  color: #2589de;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'FiraSans-Regular';
}
h1,
.h1 {
  font-size: 28px;
}
h2,
.h2 {
  font-size: 25px;
}
h3,
.h3 {
  font-size: 22px;
}
h4,
.h4 {
  font-size: 19px;
}
h5,
.h5 {
  font-size: 16px;
}
.h2 span.unicon,
h2 span.unicon {
  font-size: 40px;
  vertical-align: middle;
  padding-right: 10px;
  color: #115894;
}
@media (min-width: 1800px) {
  h1,
  .h1 {
    font-size: 38px;
  }
  h2,
  .h2 {
    font-size: 34px;
  }
  h3,
  .h3 {
    font-size: 30px;
  }
  h4,
  .h4 {
    font-size: 26px;
  }
  h5,
  .h5 {
    font-size: 21px;
  }
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 0;
}
.heading .btn {
  margin-top: 12px;
}
.file-remove {
  font-size: 70%;
  margin-left: 10px;
}
.decoration {
  text-decoration: underline !important;
}
.nodecoration {
  text-decoration: none !important;
}
.label {
  display: inline;
  padding: 7px 10px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1em;
  color: #000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.label-default {
  background-color: #fff;
  border: 1px solid #777777;
  color: #777777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #fff;
  border: 1px solid #5e5e5e;
  color: #5e5e5e;
}
.label-primary {
  background-color: #fff;
  border: 1px solid #337ab7;
  color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #fff;
  border: 1px solid #286090;
  color: #286090;
}
.label-success {
  background-color: #fff;
  border: 1px solid #5cb85c;
  color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #fff;
  border: 1px solid #449d44;
  color: #449d44;
}
.label-info {
  background-color: #fff;
  border: 1px solid #5bc0de;
  color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #fff;
  border: 1px solid #31b0d5;
  color: #31b0d5;
}
.label-warning {
  background-color: #fff;
  border: 1px solid #f0ad4e;
  color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #fff;
  border: 1px solid #ec971f;
  color: #ec971f;
}
.label-danger {
  background-color: #fff;
  border: 1px solid #d9534f;
  color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #fff;
  border: 1px solid #c9302c;
  color: #c9302c;
}
/* Spin Buttons modified */
/* Override browser form filling */
/* input file */
.file-custom {
  display: block;
  position: relative;
  border: 2px solid #50b97c !important;
  overflow: hidden;
  height: 40px;
  padding: 0 0 0 15px;
  font-size: 1.3em;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}
.file-custom input[type="file"] {
  display: none !important;
}
.file-custom .file-custom-button {
  display: block;
  position: absolute;
  line-height: 22px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  padding: 5px;
  width: 120px;
  background-color: #50b97c;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.file-custom .file-custom-caption {
  line-height: 36px;
  color: #999999;
}
.file-custom.file-custom-lg {
  height: 50px;
  padding: 0 0 0 15px;
  font-size: 1.7em;
}
.file-custom.file-custom-lg .file-custom-button {
  display: block;
  position: absolute;
  line-height: 34px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  padding: 5px;
  width: 120px;
  background-color: #50b97c;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.file-custom.file-custom-lg .file-custom-caption {
  line-height: 48px;
  color: #999999;
}
.file-custom2 {
  display: block;
  position: relative;
  overflow: hidden;
  height: 40px;
  padding: 0 0 0 37px;
  font-size: 1.3em;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}
.file-custom2 input[type="file"] {
  display: none !important;
}
.file-custom2 .file-custom2-button {
  display: block;
  position: absolute;
  line-height: 16px;
  font-size: 29px;
  top: 9px;
  left: 0px;
  padding: 5px 0px;
  width: 24px;
  height: 24px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color: #115894;
}
.file-custom2 .file-custom2-caption {
  line-height: 39px;
  color: #115894;
  border-bottom: 1px dotted #115894;
}
.file-custom2.file-custom2-lg {
  height: 50px;
}
.file-custom2.file-custom2-lg .file-custom2-button {
  top: 16px;
}
.file-custom2.file-custom2-lg .file-custom2-caption {
  line-height: 53px;
}
/* end input file */
.form-control.form-control-lg {
  height: 50px;
  font-size: 1.7em;
}
textarea.form-control.form-control-lg {
  height: 145px;
}
/* checkbox and radio */
.checkbox label,
.radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 32px;
  margin-right: 15px;
  font-size: 1.3em;
  line-height: 26px;
  margin-bottom: 15px;
}
.checkbox label:before,
.radio label:before {
  font-family: 'unicon';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 1px;
  color: #50b97c;
  text-align: center;
}
.checkbox input[type=radio],
.radio input[type=radio],
.checkbox input[type=checkbox],
.radio input[type=checkbox] {
  display: none;
}
.radio label:before {
  content: "\e91b";
  font-size: 21px;
}
.radio input[type=radio]:checked + label:before {
  content: "\e91a";
}
.checkbox label:before {
  content: "\e919";
  font-size: 25px;
}
.checkbox input[type=checkbox]:checked + label:before {
  content: "\e918";
}
/* end checkbox and radio */
p {
  font-size: 1.2em;
}
.nomargin-top {
  margin-top: 0 !important;
}
.nomargin-right {
  margin-right: 0 !important;
}
.nomargin-bottom {
  margin-bottom: 0 !important;
}
.nomargin-left {
  margin-left: 0 !important;
}
.nomargin {
  margin: 0 !important;
}
.nopadding-top {
  padding-top: 0 !important;
}
.nopadding-right {
  padding-right: 0 !important;
}
.nopadding-bottom {
  padding-bottom: 0 !important;
}
.nopadding-left {
  padding-left: 0 !important;
}
.nopaddding {
  padding: 0 !important;
}
input.error,
textarea.error,
select.error {
  border-color: #d02e2e;
}
label.error {
  color: #d02e2e;
}
.text-red,
.red {
  color: #d02e2e;
}
.dotted {
  text-decoration: none !important;
  border-bottom: 1px dotted #2589de;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.separator {
  border-bottom: 2px solid #d8d8d8;
  clear: both;
}
.separator.separator-green {
  border-color: #50b97c;
}
.separator.separator-blue {
  border-color: #115894;
}
.separator.separator-red {
  border-color: #d02e2e;
}
.separator.separator-grey {
  border-color: #f2f2f2;
}
.text-separator {
  font-size: 1.7em;
  display: block;
  text-align: center;
  padding: 6px 10px;
  margin-right: 45px;
}
.text-separator:before,
.text-separator:after {
  content: "—";
  padding: 0 10px;
}
.text-grey {
  color: #f2f2f2;
}
.text-dark-grey {
  color: #d8d8d8;
}
.text-dark-grey-2 {
  color: #999999;
}
.text-blue {
  color: #2589de;
}
.text-dark-blue {
  color: #115894;
}
@media (min-width: 1800px) {
  .container {
    width: 1800px;
  }
}
.big {
  font-size: 2.9em;
  display: block;
}
.btn {
  border: 1px solid transparent;
  padding: 7px 20px 5px 20px;
  font-size: 14px;
  border-radius: 0;
  box-shadow: none !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
}
.btn.btn-xs {
  padding: 5px 7px 3px 7px;
  font-size: 11px;
}
.btn.btn-lg {
  padding: 16px 55px;
}
.btn.btn-primary:hover {
  background-color: #115894;
}
.btn.btn-wide {
  width: 100%;
}
.btn.disabled {
  background-color: #666666 !important;
  border-color: #666666 !important;
}
.btn-primary {
  color: #ffffff;
  background-color: #2589de;
  border-color: #2589de;
}
.btn-primary-dark {
  color: #ffffff;
  background-color: #115894;
  border-color: #115894;
}
.btn-success {
  color: #ffffff;
  background-color: #50b97c;
  border-color: #50b97c;
}
.btn-default {
  color: #115894;
  border: 2px solid #115894;
  text-transform: uppercase;
  background-color: transparent;
}
.btn-default:hover {
  color: #fff;
  border: 2px solid #115894;
  text-transform: uppercase;
  background-color: #115894;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 17px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0;
}
.unibutton {
  text-decoration: none !important;
  display: block;
  text-align: center;
}
.unibutton span {
  border-bottom: 1px dotted #2589de;
  font-size: 1em;
}
.unibutton i {
  display: block;
  text-decoration: none;
  margin-bottom: 15px;
  font-style: normal;
}
.unibutton i:before {
  display: block;
  background-color: #2589de;
  color: #fff;
  font-size: 45px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
}
.unibutton i.unicon-call:before {
  font-size: 50px;
}
.unibutton i.unicon-message:before {
  font-size: 40px;
}
.unibutton:hover i {
  color: #115894;
}
@media (min-width: 767px) {
  .unibutton span {
    font-size: 1.1em;
  }
  .unibutton i {
    font-size: 80px;
    margin-bottom: 15px;
  }
}
ul.leaders {
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}
ul.leaders li {
  padding: 6px 0;
  font-size: 1.1em;
}
ul.leaders li:after {
  float: left;
  width: 0;
  white-space: nowrap;
  font-size: 0.5em;
  color: #000;
  line-height: 2.6em;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}
ul.leaders span:first-child {
  padding-right: 0.33em;
  background: white;
}
ul.leaders span + span {
  float: right;
  padding-left: 0.2em;
  background: white;
  position: relative;
}
/* end general */
/* navbar */
.menu_container {
  background: #fff;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border: 0;
  margin-bottom: 0;
}
.navbar-default .navbar-brand {
  width: 70%;
  padding: 5px 0px 0 0;
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  color: #d02e2e !important;
  text-decoration: none;
  line-height: 40px;
  white-space: nowrap;
}
.navbar-default .navbar-brand img {
  height: 40px;
  float: left;
  margin-right: 10px;
}
.navbar-default .navbar-nav.navbar-login {
  margin: 20px 0px;
}
.navbar-default .navbar-nav.navbar-login > li.navbar-login-buttons .btn {
  padding: 5px 20px;
  text-decoration: none;
}
.navbar-default .navbar-nav.navbar-login > li.navbar-login-buttons .btn.btn-default:hover {
  color: #fff;
  border: 2px solid #115894;
  text-transform: uppercase;
  background-color: #115894;
}
.navbar-default .navbar-nav.navbar-login > li.or {
  text-align: center;
  font-size: 1.1em;
  padding: 5px 0;
  color: #999999;
}
.navbar-default .navbar-nav > li > .dropdown-menu.loggedin-menu {
  width: 100%;
}
.navbar-default .navbar-nav > li.login-form {
  background: #d8d8d8;
  padding-left: 2px;
  padding-right: 2px;
}
.navbar-default .navbar-nav > li.login-form.open {
  background: #fff !important;
  padding-left: 2px;
  padding-right: 2px;
}
.navbar-default .navbar-nav > li.login-form.open .caret {
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.navbar-default .navbar-nav > li.login-form.open .dropdown-menu.loggedin-menu {
  left: -2px;
  right: -2px;
  width: auto;
  border-top: 0;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 5px 0 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-default .navbar-nav > li.login-form span {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
  text-decoration: underline;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #d02e2e;
}
.navbar-default .navbar-nav > li > a.auth {
  text-transform: none;
  display: inline-block;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a.auth .caret {
  display: block;
  position: absolute;
  right: -10px;
  top: 13px;
  font-size: 20px;
  width: 25px;
  height: 23px;
}
.navbar-default .navbar-nav > li > a.auth .avatar {
  display: table-cell;
  vertical-align: middle;
  padding-right: 20px;
}
.navbar-default .navbar-nav > li > a.auth .avatar img {
  border: 2px solid #fff;
  max-height: 30px;
  max-width: none;
}
.navbar-default .navbar-nav > li > a.auth .nickname {
  display: table-cell;
  vertical-align: middle;
}
.navbar-default .navbar-nav > li > a.auth .nickname i {
  font-style: normal;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #d02e2e;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #555555;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .menu-search {
  background: #d02e2e;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 0;
  display: none;
}
.navbar-default .menu-search:hover {
  background: #ae0c0c;
}
.navbar-default #search {
  display: block;
  position: relative;
  height: 30px;
  z-index: 10;
  background-color: #fff;
}
.navbar-default #search .input-search {
  display: block;
  border: 1px solid #999999;
  line-height: 30px;
  height: 30px;
  font-size: 1em;
  padding: 0 10px;
  color: #000;
  float: left;
  width: 85%;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.navbar-default #search .input-search::-webkit-input-placeholder {
  color: #d8d8d8;
}
.navbar-default #search .input-search::-moz-placeholder {
  color: #d8d8d8;
}
.navbar-default #search .input-search:-moz-placeholder {
  color: #d8d8d8;
}
.navbar-default #search .input-search:-ms-input-placeholder {
  color: #d8d8d8;
}
.navbar-default #search .input-search-button {
  float: right;
  width: 15%;
  height: 30px;
  font-size: 20px;
  border: 0;
  background-color: #d02e2e;
  color: #fff;
}
.navbar-default #search .input-search-button:hover {
  background-color: #ae0c0c;
}
.navbar-default #search .input-search-button.input-search-button-close {
  display: none;
}
@media (max-width: 767px) {
  .navbar-default #search {
    display: block !important;
  }
}
@media (min-width: 767px) {
  .navbar-default {
    min-height: 60px;
  }
  .navbar-default .navbar-brand {
    width: auto;
    padding: 5px 0px 0 0;
    line-height: 50px;
  }
  .navbar-default .navbar-brand img {
    height: 50px;
  }
  .navbar-default .navbar-header {
    max-width: 20%;
  }
  .navbar-default .navbar-collapse {
    max-width: 80%;
    padding-left: 0;
    float: right;
  }
  .navbar-default .navbar-nav {
    margin-left: 7px;
  }
  .navbar-default .navbar-nav.navbar-login {
    margin: 0 0 0 5px;
    background: #d8d8d8;
  }
  .navbar-default .navbar-nav.navbar-login > li {
    display: block;
    float: none;
    clear: both;
  }
  .navbar-default .navbar-nav.navbar-login > li:first-child {
    margin-bottom: 0px;
  }
  .navbar-default .navbar-nav.navbar-login > li a {
    line-height: 16px;
  }
  .navbar-default .navbar-nav.navbar-login > li a:hover {
    text-transform: none;
  }
  .navbar-default .navbar-nav.navbar-login > li.navbar-login-buttons .btn {
    padding: 5px 20px;
    font-size: 0.9em;
    border-color: transparent;
  }
  .navbar-default .navbar-nav.navbar-login > li.navbar-login-buttons .btn.btn-default:hover {
    color: #fff;
    text-transform: none;
    background-color: #115894;
  }
  .navbar-default .navbar-nav.navbar-login > li.or {
    display: none;
  }
  .navbar-default .navbar-nav:first-child {
    border-left: none;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 0.9em;
    color: #000000;
    text-transform: none;
    padding: 0px 5px;
    line-height: 60px;
    text-decoration: underline;
  }
  .navbar-default .navbar-nav > li > a.auth {
    display: inline-block;
    background-color: transparent;
    line-height: 60px;
    padding: 0 10px;
    min-width: inherit;
    max-width: 250px;
  }
  .navbar-default .navbar-nav > li > a.auth .caret {
    display: block;
    position: absolute;
    right: 2px;
    top: 20px;
    font-size: 20px;
    width: 25px;
    height: 23px;
  }
  .navbar-default .navbar-nav > li > a.auth .avatar {
    padding-right: 10px;
  }
  .navbar-default .navbar-nav > li > a.auth .avatar img {
    border: 2px solid #fff;
    max-height: 35px;
  }
  .navbar-default .navbar-nav > li > a.auth .nickname i {
    padding-right: 5px;
  }
  .navbar-default .navbar-nav > li.login-form {
    background: #d8d8d8;
    padding-left: 2px;
    padding-right: 2px;
  }
  .navbar-default .navbar-nav > li.login-form .nickname {
    padding-right: 10px;
  }
  .navbar-default .navbar-nav > li.login-form.open {
    background: #fff !important;
    border-left: 2px solid #d8d8d8;
    border-right: 2px solid #d8d8d8;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-default .navbar-nav > li.login-form span {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
  }
  .navbar-default .menu-search {
    display: block;
    line-height: 60px;
    max-height: 60px;
    width: 60px;
    background: #d02e2e;
    text-align: center;
    color: #fff;
    font-size: 20px;
  }
  .navbar-default #search {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 10;
    transition: all 0.3s  ;
    -o-transition: all 0.3s  ;
    -ms-transition: all 0.3s  ;
    -moz-transition: all 0.3s  ;
    -webkit-transition: all 0.3s  ;
    width: 0;
    overflow: hidden;
  }
  .navbar-default #search.css-show {
    width: 80%;
  }
  .navbar-default #search .input-search {
    display: block;
    border: 2px solid #999999;
    border-right: 0;
    line-height: 60px;
    height: 60px;
    font-size: 1.4em;
    padding: 0 15px;
    color: #000;
    float: right;
    width: 75%;
    /* Firefox 19+ */
    /* Firefox 18- */
  }
  .navbar-default #search .input-search::-webkit-input-placeholder {
    color: #d8d8d8;
  }
  .navbar-default #search .input-search::-moz-placeholder {
    color: #d8d8d8;
  }
  .navbar-default #search .input-search:-moz-placeholder {
    color: #d8d8d8;
  }
  .navbar-default #search .input-search:-ms-input-placeholder {
    color: #d8d8d8;
  }
  .navbar-default #search .input-search-button {
    float: right;
    width: 10%;
    height: 60px;
    font-size: 20px;
    border: 0;
    background-color: #d02e2e;
    color: #fff;
  }
  .navbar-default #search .input-search-button:hover {
    background-color: #ae0c0c;
  }
  .navbar-default #search .input-search-button.input-search-button-close {
    display: block;
    background-color: #2589de;
  }
  .navbar-default #search .input-search-button.input-search-button-close:hover {
    background-color: #0367bc;
  }
}
@media (min-width: 992px) and (max-width: 1800px) {
  .navbar-default .navbar-brand {
    width: auto;
    padding: 5px 0px 0 0;
    font-size: 25px;
    line-height: 50px;
  }
  .navbar-default .navbar-brand img {
    height: 50px;
  }
  .navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    padding: 0px 10px;
    text-decoration: underline;
  }
  .navbar-default .navbar-nav.navbar-login {
    margin: 0 0 0 31px;
    background: #d8d8d8;
  }
  .navbar-default .navbar-nav.navbar-login > li {
    display: block;
    float: left;
    clear: none;
  }
  .navbar-default .navbar-nav.navbar-login > li:first-child {
    margin-bottom: inherit;
  }
  .navbar-default .navbar-nav.navbar-login > li a {
    line-height: 56px;
  }
  .navbar-default .navbar-nav.navbar-login > li.navbar-login-buttons .btn {
    padding: 0px 15px;
    font-size: 0.9em;
  }
  .navbar-default .navbar-nav.navbar-login > li.navbar-login-buttons .btn.btn-default:hover {
    text-transform: uppercase;
  }
}
@media (min-width: 1800px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
    border: 0;
    min-height: 120px;
    margin-bottom: 0;
  }
  .navbar-default .navbar-brand {
    width: auto;
    padding: 25px 0px 0 0;
    font-size: 34px;
    line-height: 70px;
  }
  .navbar-default .navbar-brand img {
    height: 70px;
  }
  .navbar-default .navbar-nav {
    margin-left: 7px;
  }
  .navbar-default .navbar-nav.navbar-login {
    margin: 0;
    background: #d8d8d8;
    padding: 43px 35px 43px 43px;
    height: 120px;
  }
  .navbar-default .navbar-nav.navbar-login > li {
    display: block;
    float: left;
    clear: none;
  }
  .navbar-default .navbar-nav.navbar-login > li:first-child {
    margin-bottom: inherit;
  }
  .navbar-default .navbar-nav.navbar-login > li.navbar-login-buttons a.btn {
    line-height: 30px;
    border-color: #115894;
    color: #115894;
    padding: 0px 10px;
    font-size: 1.1em;
    text-decoration: none;
    height: auto;
  }
  .navbar-default .navbar-nav.navbar-login > li.navbar-login-buttons a.btn.btn-default:hover {
    text-transform: uppercase;
  }
  .navbar-default .navbar-nav.navbar-login > li.or {
    display: block;
    font-size: 1.5em;
    padding: 5px 24px;
    line-height: 1em;
  }
  .navbar-default .navbar-nav:first-child {
    border-left: 1px solid #ccc;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu.loggedin-menu {
    width: 100%;
  }
  .navbar-default .navbar-nav > li.login-form {
    background: #d8d8d8;
    padding-left: 4px;
    padding-right: 4px;
    height: 120px;
  }
  .navbar-default .navbar-nav > li.login-form.open {
    background: #fff !important;
    border-left: 4px solid #999999;
    border-right: 4px solid #999999;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-default .navbar-nav > li.login-form.open .dropdown-menu.loggedin-menu {
    left: -4px;
    right: -4px;
    width: auto;
    border-top: 0;
    border-left-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-color: #999999;
    padding: 5px 0 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-default .navbar-nav > li.login-form.open .dropdown-menu.loggedin-menu > li > a {
    padding: 19px 30px;
    border-top: 1px solid #f2f2f2;
    text-transform: uppercase;
    font-size: 1.4em;
    text-decoration: none;
  }
  .navbar-default .navbar-nav > li.login-form span {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 1.4em;
    color: #000000;
    text-transform: uppercase;
    padding: 0px 32px 0 31px;
    line-height: 120px;
    text-decoration: underline;
    height: 120px;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #d02e2e;
  }
  .navbar-default .navbar-nav > li > a.auth {
    text-transform: none;
    display: inline-block;
    background-color: transparent;
    line-height: 120px;
    padding: 0 30px;
    min-width: 341px;
    width: 341px;
    position: relative;
    max-width: none;
  }
  .navbar-default .navbar-nav > li > a.auth .caret {
    display: block;
    position: absolute;
    right: 10px;
    top: 50px;
    font-size: 44px;
    width: 54px;
    height: 23px;
  }
  .navbar-default .navbar-nav > li > a.auth .avatar {
    display: table-cell;
    vertical-align: middle;
    padding-right: 25px;
  }
  .navbar-default .navbar-nav > li > a.auth .avatar img {
    border: 2px solid #fff;
    width: 60px;
    height: 60px;
    max-height: 60px;
  }
  .navbar-default .navbar-nav > li > a.auth .nickname {
    display: table-cell;
    vertical-align: middle;
  }
  .navbar-default .navbar-nav > li > a.auth .nickname i {
    font-style: normal;
    padding-right: 0;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #d02e2e;
  }
  .navbar-default .navbar-nav > .disabled > a,
  .navbar-default .navbar-nav > .disabled > a:hover,
  .navbar-default .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #555555;
  }
  .navbar-default .navbar-toggle {
    border-color: #dddddd;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #dddddd;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #888888;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #e7e7e7;
  }
  .navbar-default .menu-search {
    display: block;
    line-height: 120px;
    width: 120px;
    max-height: 120px;
    background: #d02e2e;
    text-align: center;
    color: #fff;
    font-size: 40px;
  }
  .navbar-default #search {
    position: absolute;
    right: 0;
    top: 0;
    height: 120px;
    z-index: 10;
  }
  .navbar-default #search .input-search {
    display: block;
    border: 4px solid #999999;
    border-right: 0;
    line-height: 112px;
    height: 120px;
    font-size: 3.4em;
    padding: 0 25px;
    color: #000;
    width: 1170px;
    float: none;
    right: 236px;
    position: absolute;
    /* Firefox 19+ */
    /* Firefox 18- */
  }
  .navbar-default #search .input-search::-webkit-input-placeholder {
    color: #d8d8d8;
  }
  .navbar-default #search .input-search::-moz-placeholder {
    color: #d8d8d8;
  }
  .navbar-default #search .input-search:-moz-placeholder {
    color: #d8d8d8;
  }
  .navbar-default #search .input-search:-ms-input-placeholder {
    color: #d8d8d8;
  }
  .navbar-default #search .input-search-button {
    position: absolute;
    top: 0;
    right: 120px;
    width: 120px;
    height: 120px;
    font-size: 40px;
    border: 0;
    background-color: #d02e2e;
    color: #fff;
  }
  .navbar-default #search .input-search-button:hover {
    background-color: #ae0c0c;
  }
  .navbar-default #search .input-search-button.input-search-button-close {
    right: 0px;
    background-color: #2589de;
  }
  .navbar-default #search .input-search-button.input-search-button-close:hover {
    background-color: #0367bc;
  }
}
@media (max-width: 767px) {
  .navbar-default {
    min-height: 50px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777777;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}
.navbar-default .btn-link {
  color: #777777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;
}
.breadcrumb {
  font-size: 1.1em;
  padding: 17px 15px 13px 0;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border: 0;
}
.bg-white {
  background: #fff;
  margin: 10px 0;
}
.bg-white2 {
  background: #fff;
}
.uni-block-auth {
  margin: 25px 0 28px 0;
  padding: 23px 0px 25px 15px;
  background: url(../../assets/images/main_top_bg.jpg) center no-repeat #fff;
}
.uni-block-auth h1 {
  padding: 0 0 28px 0;
  color: #115894;
}
.uni-block-auth p {
  font-size: 1.1em;
}
.uni-block-auth .auth-help {
  background: #35a263;
  color: #fff;
  height: 176px;
  padding: 45px 10px 45px 20px;
  margin: 10px 40px 0px 0px;
  position: relative;
}
.uni-block-auth .auth-help .big {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'ProximaNova-Regular';
}
.uni-block-auth .auth-help p {
  line-height: 24px;
}
.uni-block-auth .auth-help .arrow {
  width: 30px;
  height: 176px;
  right: -30px;
  top: 0;
  position: absolute;
  background: url(../../assets/images/arrow.png) top left no-repeat;
  z-index: 10;
}
.uni-block-auth .auth-buttons {
  padding-top: 43px;
}
.uni-block-auth .auth-buttons .text-separator {
  margin-right: 10px;
}
.uni-block-auth .auth-buttons .btn {
  display: block;
  margin: 0 10px 0 0;
  padding: 10px 5px;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .uni-block-auth {
    margin: 25px 0 28px 0;
    padding: 23px 0px 25px 15px;
    background: url(../../assets/images/main_top_bg.jpg) center no-repeat #fff;
  }
  .uni-block-auth h1 {
    padding: 0 0 28px 0;
    color: #115894;
  }
  .uni-block-auth p {
    font-size: 1.2em;
    margin: 0;
  }
  .uni-block-auth .auth-help {
    background: #35a263;
    color: #fff;
    height: 176px;
    padding: 50px 14px 25px 24px;
    margin: 43px 30px 42px 0px;
    position: relative;
  }
  .uni-block-auth .auth-help .arrow {
    width: 30px;
    height: 176px;
    right: -30px;
    top: 0;
    position: absolute;
    background: url(../../assets/images/arrow.png) top left no-repeat;
    z-index: 10;
  }
  .uni-block-auth .auth-buttons {
    padding-top: 43px;
  }
  .uni-block-auth .auth-buttons .text-separator {
    margin-right: 0px;
  }
  .uni-block-auth .auth-buttons .btn {
    display: block;
    margin: 0 0px 0 0px;
    padding: 20px 5px;
    text-transform: uppercase;
  }
}
@media (min-width: 1200px) {
  .uni-block-auth .auth-help {
    padding-top: 27px;
    margin: 50px 30px 0px 7px;
  }
  .uni-block-auth .auth-help .big {
    font-size: 18px;
    text-transform: uppercase;
  }
  .uni-block-auth .auth-buttons {
    padding-top: 50px;
    padding-right: 30px;
  }
}
@media (min-width: 1800px) {
  .uni-block-auth > div:first-child {
    height: 260px;
    vertical-align: middle;
    line-height: 260px;
  }
  .uni-block-auth p {
    font-size: 1.2em;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
  }
  .uni-block-auth .auth-help {
    padding: 35px 14px 25px 34px;
    margin: 44px 30px 40px 40px;
  }
  .uni-block-auth .auth-help .big {
    font-size: 35px;
  }
  .uni-block-auth .auth-buttons {
    padding-top: 43px;
    padding-right: 10px;
  }
  .uni-block-auth .auth-buttons .text-separator {
    margin-right: 45px;
  }
  .uni-block-auth .auth-buttons .btn {
    margin: 0 55px 0 25px;
  }
}
#infosystem-1 h2 {
  margin-bottom: 13px;
  color: #115894;
}
#infosystem-1 .bg-white {
  overflow: hidden;
}
#infosystem-1 .infosystem-item {
  height: 122px;
  line-height: 122px;
  border: 1px solid #f2f2f2;
  text-align: center;
  display: block;
  overflow: hidden;
}
#infosystem-1 .infosystem-item img {
  width: auto;
  max-width: 100%;
}
#infosystem-1 .infosystem-item:hover {
  background-color: #2589de;
}
@media (min-width: 767px) {
  #infosystem-1 h2 {
    margin-bottom: 6px;
    color: #115894;
  }
  #infosystem-1 .bg-white {
    overflow: hidden;
  }
  #infosystem-1 .infosystem-item {
    height: 122px;
    line-height: 122px;
    border: 1px solid #f2f2f2;
  }
  #infosystem-1 .infosystem-item img {
    width: auto;
    max-width: 100%;
  }
  #infosystem-1 .infosystem-item:hover {
    background-color: #2589de;
  }
}
#infosystem-2 {
  margin-top: -10px;
}
#infosystem-2 h3 {
  color: #50b97c;
  margin-top: 12px;
  margin-left: 15px;
}
#infosystem-3 {
  margin-top: 24px;
  padding-top: 7px;
  margin-bottom: 25px;
}
#infosystem-3 h3 {
  color: #50b97c;
  margin-top: 12px;
  margin-left: 15px;
}
.steps {
  margin: 10px 0 30px 0px;
}
.steps .step {
  margin-bottom: 20px;
}
.steps .step a.btn {
  margin: 0 0px 10px 0px;
  padding: 10px 30px;
  font-size: 1em;
  display: block;
  white-space: normal;
}
.steps .step a.btn.active {
  background-color: #50b97c;
  border-color: #50b97c;
}
.steps .step:before {
  display: block;
  width: 100%;
  float: none;
  padding: 5px 0;
  margin-bottom: 10px;
  font-size: 1.2em;
  content: attr(data-step) ".";
  text-align: center;
}
@media (min-width: 767px) {
  .steps {
    padding-left: 10px;
    margin: 32px 0 30px 0px;
  }
  .steps .step {
    clear: both;
    margin-bottom: 0px;
  }
  .steps .step a.btn {
    margin: 0 15px 15px 0;
    padding: 8px 20px;
    display: inline-block;
    font-size: 15px;
  }
  .steps .step:before {
    float: left;
    padding: 7px 5px 0 0;
    width: 30px;
  }
}
@media (min-width: 1800px) {
  .steps {
    padding-left: 50px;
    margin: 32px 0 30px 0px;
  }
  .steps .step a.btn {
    margin: 0 30px 30px 0;
    padding: 17px 55px;
    display: inline-block;
    font-size: 18px;
  }
  .steps .step:before {
    padding: 20px 5px 0 0;
  }
}
.uni-accordeon {
  padding-top: 0px;
  margin-left: 0;
  padding-left: 0px;
  counter-reset: item;
}
.uni-accordeon > li {
  padding-left: 10px;
  background-color: #f2f2f2;
  display: block;
}
.uni-accordeon > li:before {
  width: 20px;
  padding-top: 10px;
  float: left;
  padding-right: 10px;
  content: counter(item) ". ";
  counter-increment: item;
  color: #000;
  font-size: 1.2em;
}
.uni-accordeon > li > a {
  padding: 8px 0 14px 12px;
  display: block;
  text-decoration: none;
}
.uni-accordeon > li > a i {
  top: 4px;
  color: #999999;
  margin-left: 0px;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.uni-accordeon > li > a span {
  color: #999999;
  border-bottom: 0;
  padding-left: 5px;
  font-size: 1em;
}
.uni-accordeon > li > a.collapsed:hover span {
  color: #999999;
}
.uni-accordeon > li > a.collapsed i {
  top: 1px;
  color: #2589de;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.uni-accordeon > li > a.collapsed span {
  color: #2589de;
  border-bottom: 1px dotted #ccc;
}
.uni-accordeon > li.panel {
  margin: 0px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: -4px;
}
.uni-accordeon > li.panel .panel-collapse {
  overflow: hidden;
  background: #fff;
}
.contents {
  border: 2px solid #115894;
  padding: 10px 20px;
  margin: 0px;
  width: 100%;
}
.contents h4 {
  margin-top: 7px;
  color: #115894;
}
.contents ol {
  padding-left: 0;
  counter-reset: item;
  font-size: 1em;
}
.contents ol li {
  padding: 0 10px 9px 0;
  display: block;
  font-size: 17px;
}
.contents ol li a {
  color: #000;
  text-decoration: none;
  padding-left: 24px;
  display: block;
}
.contents ol li:before {
  width: 22px;
  display: block;
  float: left;
  padding-right: 10px;
  content: counter(item) ". ";
  counter-increment: item;
  color: #d8d8d8;
}
.article {
  padding-top: 1px;
  margin: 12px 0 0 0px;
}
.article h5 {
  margin: 21px 0 20px 0;
}
.article .separator {
  margin-top: 30px;
}
.article .rating {
  margin: 0px 0 40px 0;
}
.article-buttons {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  white-space: nowrap;
}
.article-buttons .article-helper {
  display: block;
  font-size: 1.4em;
  font-family: 'FiraSans-Regular';
  padding-right: 58px;
  line-height: 25px;
  padding: 20px 0;
}
.article-buttons a.btn {
  padding: 10px 30px;
  margin-left: 0px;
  margin-right: 10px;
}
@media (min-width: 767px) {
  .uni-accordeon {
    padding-top: 20px;
  }
  .uni-accordeon > li {
    padding-left: 20px;
  }
  .uni-accordeon > li > a i {
    margin-left: 15px;
  }
  .uni-accordeon > li > a span {
    font-size: 1.3em;
  }
  .contents {
    padding: 20px;
    margin: 0px 20px 20px 20px;
    max-width: 300px;
    float: right;
  }
  .article {
    margin: 12px 0 0 35px;
  }
  .article .article-result {
    clear: none;
    display: block;
    font-size: 1.3em;
    padding: 27px 0 0 40px;
  }
  .article .rating {
    margin: 40px 0 40px 0;
  }
  .article .with_rating {
    height: 110px;
  }
  .article-buttons {
    clear: none;
    margin-top: 34px;
    margin-bottom: 20px;
    text-align: right;
  }
  .article-buttons .article-helper {
    display: inline-block;
    float: none;
    font-size: 1.2em;
    font-family: 'FiraSans-Regular';
    padding-right: 25px;
    line-height: 25px;
    padding-top: 6px;
    width: 220px;
    padding-top: 7px;
    vertical-align: top;
  }
  .article-buttons a.btn {
    padding: 5px 20px;
    margin-left: 0px;
    margin-right: 20px;
  }
}
@media (min-width: 1800px) {
  .uni-accordeon {
    padding-top: 20px;
  }
  .article {
    margin: 32px 0 0 35px;
  }
  .article .article-result {
    clear: none;
    display: block;
    font-size: 1.5em;
    padding: 46px 0 0 40px;
  }
  .article .rating {
    margin: 50px 0 40px 0;
  }
  .article .with_rating {
    height: 110px;
  }
  .article-buttons {
    clear: none;
    margin-top: 34px;
    margin-bottom: 20px;
    padding-right: 88px;
  }
  .article-buttons .article-helper {
    font-family: 'FiraSans-Regular';
    display: inline-block;
    float: none;
    font-size: 1.4em;
    padding-right: 15px;
    padding-left: 0px;
    line-height: 25px;
    width: 300px;
    padding-top: 19px;
    vertical-align: top;
  }
  .article-buttons a.btn {
    padding: 17px 69px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .contents {
    padding: 20px 17px 32px 40px;
    margin: 0px 5px 20px 20px;
    max-width: 440px;
  }
}
/* rating */
.rating {
  margin: 12px 0;
}
.rating .rating-total {
  position: relative;
  margin-left: 5px;
  float: left;
  font-size: 1.1em;
}
.rating .rating-total span {
  color: #115894;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
  margin-right: 3px;
}
.rating .rating-icons {
  border-left: 1px solid #f2f2f2;
  height: 30px;
  float: left;
  margin-left: 3px;
  margin-top: -3px;
  font-size: 21px;
  padding-left: 4px;
  color: #d02e2e;
}
.rating .rating-icons span {
  margin-right: 7px;
}
@media (min-width: 1800px) {
  .rating .rating-icons {
    margin-left: 13px;
    padding-left: 14px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .rating .rating-icons {
    padding-left: 6px;
  }
  .rating .rating-icons span {
    margin-right: 0px;
    font-size: 19px;
  }
}
/* end rating */
#form-resolve,
#form-request {
  margin: 25px 0 34px 0;
}
#form-resolve h2,
#form-request h2 {
  padding: 17px 0 20px 0px;
  color: #115894;
}
#form-resolve .uniform,
#form-request .uniform {
  margin-left: 15px;
  margin-right: 0px;
}
/* FORMS */
.form-control {
  padding: 5px 13px;
  height: 40px;
  font-size: 1.3em;
  color: #999999;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #50b97c;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-max-width {
  max-width: 720px;
}
.uniform {
  margin: 0px 20px 0 20px;
}
.uniform .row > div {
  padding: 0 0 20px 0;
}
.uniform .btn {
  padding-right: 50px;
  padding-left: 50px;
}
.uniform textarea {
  height: 145px;
}
@media (min-width: 767px) {
  .uniform .row > div {
    padding: 0 10px 20px 0;
  }
}
/* END FORMS */
@media (min-width: 767px) {
  #form-resolve h2,
  #form-request h2 {
    padding: 17px 0 20px 50px;
  }
  #form-resolve .uniform,
  #form-request .uniform {
    margin-left: 70px;
    margin-right: 20px;
  }
  /* FORMS */
  .uniform {
    margin: 20px 20px 0 20px;
  }
  .uniform .row > div {
    padding: 0 20px 20px 0;
  }
  /* END FORMS */
}
@media (min-width: 1200px) {
  #form-resolve .uniform,
  #form-request .uniform {
    margin-right: 20px;
  }
  #form-resolve .uniform .row > div,
  #form-request .uniform .row > div {
    padding: 0 30px 20px 0;
  }
}
.articles {
  margin-bottom: 16px;
}
.articles .all-articles {
  margin: 0 15px;
  display: block;
}
.articles h2 {
  color: #115894;
  padding: 0 20px 0 0;
}
.articles .article-brief {
  padding: 20px 0 0 0;
  border: 1px solid #f2f2f2;
  overflow: hidden;
}
.articles .article-brief .text {
  padding: 0 27px;
}
.articles .article-brief .article-header {
  padding: 0;
  font-size: 1.4em;
  line-height: 1.5em;
  padding: 0px 27px;
  display: block;
}
.articles .article-brief p {
  padding-top: 24px;
}
.articles .article-brief .article-more {
  overflow: hidden;
  border-top: 1px solid #f2f2f2;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
.articles .article-brief .article-more .btn {
  margin-top: 0px;
  margin-right: 0px;
  padding-right: 7px;
}
.articles .article-brief .article-more .btn span {
  height: 39px;
  font-size: 1.6em;
  margin-left: 9px;
  display: inline-block;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.articles .article-brief .rating {
  padding-top: 3px;
}
.articles .article-brief .rating .rating-total {
  margin: 0 0px 0 20px;
}
@media (min-width: 767px) {
  .articles .all-articles {
    margin: 20px 0 0 0;
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .articles .all-articles {
    margin: 20px 0 0 0;
    display: inline-block;
  }
  .articles h2 {
    padding: 0 0 0 0;
  }
  .articles .article-brief {
    padding: 26px 0 0 0;
    height: 360px;
  }
  .articles .article-brief .text {
    height: 220px;
    overflow: hidden;
  }
  .articles .article-brief .article-more {
    bottom: 0;
    position: absolute;
  }
}
@media (min-width: 1800px) {
  .articles .all-articles {
    margin: 25px 0 0 0;
    display: inline-block;
  }
  .articles .article-brief {
    height: 310px;
    width: 33.33333%;
  }
  .articles .article-brief .text {
    height: 170px;
    overflow: hidden;
  }
}
.table.table-uni tr:first-child {
  background-color: #fff !important;
}
.table.table-uni tr:first-child th {
  white-space: nowrap;
  border-top: 0;
  border-bottom: 2px solid #d8d8d8;
  font-size: 1em;
  height: 42px;
}
.table.table-uni > thead > tr > th,
.table.table-uni > tbody > tr > th,
.table.table-uni > tfoot > tr > th,
.table.table-uni > thead > tr > td,
.table.table-uni > tbody > tr > td,
.table.table-uni > tfoot > tr > td {
  padding: 12px 27px 8px 27px;
  border-top: 1px solid #f6f6f6;
  font-size: 1.1em;
}
.table.table-uni th.col-1 {
  width: 11%;
  white-space: nowrap;
}
.table.table-uni th.col-3 {
  width: 10%;
  white-space: nowrap;
}
.table.table-uni th.col-4 {
  width: 11%;
  white-space: nowrap;
}
.table.table-uni th.col-5 {
  width: 10%;
  white-space: nowrap;
}
.table.table-uni .with_label {
  padding-top: 8px;
}
.table.table-uni .label {
  width: 91px;
  display: inline-block;
  font-size: 15px;
}
.forum {
  margin-bottom: 15px;
}
.forum .all-forum {
  margin: 0 15px 20px 15px;
  display: block;
}
.forum .table {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 0.9em;
}
.forum .table.table-uni > thead > tr > th,
.forum .table.table-uni > tbody > tr > th,
.forum .table.table-uni > tfoot > tr > th,
.forum .table.table-uni > thead > tr > td,
.forum .table.table-uni > tbody > tr > td,
.forum .table.table-uni > tfoot > tr > td {
  padding: 5px 10px;
}
.forum h2 {
  color: #115894;
  padding: 0 20px 6px 15px;
}
@media (min-width: 767px) {
  .forum {
    margin-bottom: 0px;
  }
  .forum .all-forum {
    margin: 25px 0 0 0;
    display: inline-block;
  }
  .forum .table {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 1em;
  }
  .forum .table.table-uni > thead > tr > th,
  .forum .table.table-uni > tbody > tr > th,
  .forum .table.table-uni > tfoot > tr > th,
  .forum .table.table-uni > thead > tr > td,
  .forum .table.table-uni > tbody > tr > td,
  .forum .table.table-uni > tfoot > tr > td {
    padding: 13px 27px;
    border-top: 1px solid #f6f6f6;
    font-size: 1.1em;
  }
  .forum h2 {
    padding-bottom: 15px;
    padding: 0 0px 5px 0px;
  }
}
.support {
  margin-bottom: 15px;
}
.support h2 {
  padding-bottom: 8px;
  color: #115894;
}
.support .block-support .block-support-1 {
  padding: 10px 25px 10px 20px;
}
.support .block-support .block-support-1 .js-select {
  margin: 19px 0 35px 0;
}
.support .block-support .block-support-2 {
  margin-bottom: 20px;
}
.support .block-support .block-support-2 .unibutton {
  margin: 10px 0 30px 10px;
}
@media (min-width: 767px) {
  .support .block-support .block-support-1 {
    padding: 22px 40px 0 30px;
  }
  .support .block-support .block-support-1 select {
    margin: 20px 0 35px 0;
  }
  .support .block-support .block-support-2 .unibutton {
    margin: 20px 0 20px 10px;
  }
  .support.support-2 .block-support .block-support-1 {
    padding: 60px 0 35px 30px;
  }
}
.sidebar-left,
.sidebar-right {
  margin-top: 15px;
}
.sidebar-left .bg-white,
.sidebar-right .bg-white {
  margin-bottom: 25px;
}
.sidebar-left h2,
.sidebar-right h2 {
  color: #115894;
  padding-bottom: 18px;
}
.sidebar-left .sidebar-right-1,
.sidebar-right .sidebar-right-1 {
  padding: 10px 20px;
}
.sidebar-left .sidebar-right-1 .displays,
.sidebar-right .sidebar-right-1 .displays {
  padding: 0px 0 20px 0;
}
.sidebar-left .sidebar-right-2,
.sidebar-right .sidebar-right-2 {
  padding: 12px 20px 43px 20px;
}
.sidebar-left .sidebar-right-3,
.sidebar-right .sidebar-right-3 {
  padding: 12px 20px 43px 20px;
}
@media (min-width: 767px) {
  .sidebar-right .bg-white {
    margin-bottom: 32px;
  }
  .sidebar-right .sidebar-right-1 {
    padding: 20px 20px 60px 35px;
  }
  .sidebar-right .sidebar-right-1 .displays {
    padding: 15px 0 35px 0;
  }
  .sidebar-right .sidebar-right-2 {
    padding: 12px 20px 43px 35px;
  }
  .sidebar-right .sidebar-right-3 {
    padding: 12px 20px 43px 35px;
  }
}
@media (min-width: 1200px) and (max-width: 1800px) {
  .sidebar-right .sidebar-right-1,
  .sidebar-right .sidebar-right-2,
  .sidebar-right .sidebar-right-3 {
    padding: 15px 20px;
  }
  .sidebar-right .sidebar-right-1 .displays,
  .sidebar-right .sidebar-right-2 .displays,
  .sidebar-right .sidebar-right-3 .displays {
    padding: 15px 0 35px 0;
  }
  .sidebar-right .sidebar-right-1 p,
  .sidebar-right .sidebar-right-2 p,
  .sidebar-right .sidebar-right-3 p,
  .sidebar-right .sidebar-right-1 ul.leaders li,
  .sidebar-right .sidebar-right-2 ul.leaders li,
  .sidebar-right .sidebar-right-3 ul.leaders li {
    font-size: 1em;
  }
}
.percent_row .percent25 {
  width: 50%;
  float: left;
}
.percent_row .percent50 {
  width: 50%;
  float: left;
}
@media (min-width: 1800px) {
  .support .block-support .block-support-1 {
    padding: 22px 40px 35px 30px;
  }
  .support .block-support .block-support-2 {
    margin-top: 20px;
  }
  .percent_row .percent25 {
    width: 25%;
  }
  .percent_row .percent50 {
    width: 50%;
    float: left;
  }
}
.fancybox-close {
  background-image: none !important;
  text-decoration: none !important;
  top: 25px !important;
  right: 25px !important;
  font-family: 'unicon';
}
.fancybox-close:before {
  content: "\e914";
  color: #999999;
  font-size: 25px;
}
.fancybox-skin {
  background-color: #fff !important;
  padding: 20px !important;
}
.fancybox-outer {
  display: table;
}
.fancybox-inner {
  display: table-cell;
}
.form-window {
  text-align: center;
}
.form-window .icon {
  font-size: 60px;
  line-height: 60px;
  color: #50b97c;
}
.form-window h1 {
  line-height: 1em;
  color: #115894;
}
.form-window h2 {
  line-height: 1em;
  color: #115894;
}
.form-window h3 {
  line-height: 1em;
  color: #115894;
}
.form-window p {
  font-size: 1.5em;
  padding: 17px 0 0 0px;
}
.form-window 7 .buttons {
  padding: 50px 0 0 0;
}
.form-window 7 .buttons .btn {
  padding-left: 50px;
  padding-right: 50px;
}
.form-window .text-separator {
  margin-right: 0;
}
@media (min-width: 1800px) {
  .form-window {
    padding: 53px 0 20px 0;
    width: 625px;
  }
  .form-window .icon {
    font-size: 120px;
    line-height: 130px;
    color: #50b97c;
  }
  .form-window .buttons .btn {
    width: 270px;
  }
  .fancybox-skin {
    padding: 10px 70px !important;
  }
}
/* Типовая страница */
.typical-page {
  padding: 30px 25px;
  margin: 25px 0;
}
.typical-page p {
  font-size: 1.2em;
  line-height: 1.45em;
}
.typical-page h1,
.typical-page .h1 {
  font-size: 36px;
}
.typical-page h2,
.typical-page .h2 {
  font-size: 30px;
}
.typical-page h3,
.typical-page .h3 {
  font-size: 26px;
}
.typical-page h4,
.typical-page .h4 {
  font-size: 24px;
}
.typical-page h5,
.typical-page .h5 {
  font-size: 21px;
}
.typical-page .article-buttons span,
.typical-page .article-buttons a {
  margin-left: 20px;
}
/* customisation datepicker plugin */
.datepicker-days thead tr .glyphicon.glyphicon-chevron-left,
.datepicker-days thead tr .glyphicon.glyphicon-chevron-right {
  font-family: 'unicon';
}
.datepicker-days thead tr .glyphicon.glyphicon-chevron-left:before,
.datepicker-days thead tr .glyphicon.glyphicon-chevron-right:before {
  display: block;
  width: 36px;
  height: 36px;
  content: "\e90a";
  padding-top: 6px !important;
}
.datepicker-days thead tr .glyphicon.glyphicon-chevron-left:before {
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.datepicker-days thead tr .glyphicon.glyphicon-chevron-right:before {
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.datepicker-days thead tr:first-child {
  background-color: #50b97c !important;
  color: #fff;
  font-size: 22px;
  padding: 5px 0;
}
.datepicker-days thead tr:first-child th {
  color: #fff;
  text-transform: none;
  font-size: 20px;
}
.datepicker-days thead tr:first-child th:hover {
  background-color: #198e4a;
}
.datepicker-days thead tr th {
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none   ;
  -o-box-shadow: none   ;
  -ms-box-shadow: none   ;
  -moz-box-shadow: none   ;
  -webkit-box-shadow: none   ;
  height: 48px;
  font-weight: normal;
  color: #d02e2e;
  text-transform: uppercase;
  font-size: 10px;
}
.bootstrap-datetimepicker-widget {
  background: #f2f2f2 !important;
}
.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #d02e2e !important;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #d02e2e !important;
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #d02e2e !important;
}
.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
  color: #d8d8d8 !important;
}
.date-custom .form-control {
  border-right: 0;
}
.date-custom .input-group-addon {
  border: 2px solid #50b97c !important;
  border-left: 0 !important;
  background-color: #fff;
  position: relative;
  padding: 0 0 0 4px;
}
.date-custom .input-group-addon .unicon {
  text-align: right;
  width: 44px;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 32px;
  z-index: 10;
  color: #50b97c;
  cursor: pointer;
}
.date-custom.date-custom-lg .form-control {
  height: 50px;
  font-size: 1.7em;
}
.date-custom.date-custom-lg .input-group-addon .unicon {
  top: 2px;
  right: 5px;
  font-size: 43px;
}
/* end customisation datepicker plugin */
/* my requests */
.my-requests {
  margin-left: -25px;
  margin-right: -25px;
  font-size: 1.1em;
}
.my-requests th {
  font-size: 0.9em !important;
}
.header span.unicon {
  display: none;
  vertical-align: sub;
  text-decoration: none;
  margin-left: 3px;
  height: 17px;
}
.header.headerSortUp span.unicon {
  display: inline-block;
}
.header.headerSortDown span.unicon {
  display: inline-block;
  position: relative;
  top: -2px;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.button-group .btn {
  margin-right: 15px;
  font-size: 1.3em;
  padding: 4px 20px 2px 20px;
  text-transform: none !important;
  margin-bottom: 15px;
}
/* end my requests */
/* collapsable menu */
.collapsable-menu ul {
  display: block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 16px;
}
.collapsable-menu ul li {
  display: block;
  list-style: none;
  padding: 0 0 5px 0;
  margin: 0 0 0px 0;
  vertical-align: middle;
}
.collapsable-menu ul li ul {
  display: none;
  margin-top: 10px;
  margin-left: 16px;
}
.collapsable-menu ul li ul.opened {
  display: block;
}
.collapsable-menu ul li a {
  text-decoration: none;
  margin-left: 30px;
  display: block;
}
.collapsable-menu ul li a:hover {
  text-decoration: underline;
}
.collapsable-menu ul li a.active {
  color: #000;
  text-decoration: none !important;
  cursor: text;
}
.collapsable-menu ul li .menu-collapse:before {
  font-size: 25px;
  line-height: 32px;
  color: #115894;
  display: block;
  width: 20px;
  height: 25px;
  text-align: center;
  position: relative;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  float: left;
  top: -5px;
  content: "+";
}
.collapsable-menu ul li .menu-collapse.menu-collapse-minus:before {
  font-size: 16px;
  top: -8px;
  content: "—";
}
@media (min-width: 1200px) {
  .collapsable-menu ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 23px;
  }
  .collapsable-menu ul li {
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
  }
  .collapsable-menu ul li ul {
    margin-top: 15px;
    margin-left: 23px;
  }
  .collapsable-menu ul li a {
    margin-left: 35px;
  }
  .collapsable-menu ul li .menu-collapse:before {
    font-size: 40px;
    color: #115894;
    line-height: 32px;
    margin-right: 10px;
    top: 0px;
  }
  .collapsable-menu ul li .menu-collapse.menu-collapse-minus:before {
    font-size: 23px;
    top: -2px;
  }
}
/* collapsable menu */
/* база знаний */
.articles-no-margin {
  margin-left: -11px;
  margin-right: -11px;
  margin-top: -30px;
}
/* end база знаний */
.fancybox-inner {
  overflow: visible !important;
}
.window-form {
  text-align: left;
  margin: 0 auto;
  float: none;
  max-width: 300px;
}
.window-form .btn-wide {
  width: 110%;
  margin-left: -5%;
}
.typical-page .article h2 {
  margin-top: 20px;
}
.typical-page .contents {
  margin-top: -23px;
}
@media (min-width: 768px) {
  .typical-page .article h2 {
    margin-top: 0px;
  }
}
/* contacts */
.contacts-result {
  padding: 25px 20px 0px 20px;
}
.contacts-result .contacts-content h5 {
  padding: 20px 0 0 0;
}
.contacts-result .contacts-content table {
  font-size: 1.3em;
}
.contacts-result .contacts-content table td {
  padding: 5px 20px 4px 0;
}
.contacts-result .unibutton {
  width: 80px;
  margin: 20px auto;
}
/* end contacts */
/*# sourceMappingURL=theme.css.map */