
@font-face {
  font-family: 'FiraSans-Regular';
  src: url('FiraSans-Regular.eot?#iefix') format('embedded-opentype'),  url('FiraSans-Regular.woff') format('woff'), url('FiraSans-Regular.ttf')  format('truetype'), url('FiraSans-Regular.svg#FiraSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
